// sidebar
$menuText:#f1f1f1;
$menuActiveText:#488326;
$subMenuActiveText:#488326; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#f4ffe7;

$subMenuBg:#488326;
$subMenuHover:#f4ffe7;

$sideBarWidth: 300px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
