// sidebar
$menuText:#6b7390;
$menuActiveText:#2f45e6;
$subMenuActiveText:#2f45e6; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#f8faff;
$menuHover:#eef2ff;

$subMenuBg:#f3f6ff;
$subMenuHover:#e8eeff;

$sideBarWidth: 280px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
